<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href = "public/css/style2.css">
    <title>Document</title>
</head>
<body>
    <header>
        <div class="inner_wrap1">
            <h1 class="logo"><img src="images/logo2.png" alt="로고"></h1>
            <nav class="gnb">
                <ul>
                    <li><a href="/interview2">면접</a></li>
                    <li><a href="/home">스터디그룹</a></li>
                    <li><a href="/annyang">STT</a></li>
                    <li><a href="#">HOME</a></li>
                </ul>
            </nav>
            <nav class="sub_gnb">
                <ul>
                    <li><a href="/login"><img src="images/sns-icon1.png" alt="사진"></a></li>
                    <li><a href="#"><img src="images/sns-icon2.png" alt="사진"></a></li>
                    <li><a href="#"><img src="images/sns-icon3.png" alt="사진"></a></li>
                </ul>
            </nav>
        </div>
    </header>

    <div class="banner">
        <img src="images/1.jpg" alt="슬라이드사진">
    </div>
</body>
</html>