<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script defer type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script defer type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.9.1/underscore-min.js"></script>

    <!-- <script defer type="text/javascript" src="./greensock/src/minified/TweenMax.min.js"></script>--> <!--애니메이션 때매 -->
    <!-- <script defer src="uikit/js/uikit.min.js"></script> -->

    <link rel="shortcut icon" href="#">
    <script defer src = "public/js/face-api.min.js"></script>
    <script defer src = "public/js/facerecog.js"></script>
    <script type="module" src="public/js/facerecog.js"></script>
    <script type="module" src="public/js/annyang.js"></script>
    <script type="module" src="public/js/event.js"></script>
    
    <link rel="stylesheet" href="public/css/interview.css">
</head>
<body>
    <div id="message"></div>
    <div id="message2"></div>
    <!--<div id="sentiment"></div>-->
    <video id ="video" autoplay muted></video>
    <canvas id="overlayCanvas"></canvas>
    <!--<div id="nav_btn"><button id="playBtn" type="button"></button></div>-->
    <button class="btn hover4" id = "playBtn"> Start </button>
    <div id="ai"></div>

</body>
</html>