<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <a href="javascript:kakaoLogin();"><img src="images/kakao_login_medium_narrow.png"></a>
    <script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
    <script>
        //님 허용값 받아와야됨
        window.Kakao.init("26a173e6cd6f6254986f41a7719adae2");

        //로그인함수
        function kakaoLogin(){
            window.Kakao.Auth.login({
                scope:'profile_nickname, account_email, gender',
                success: function(authObj){
                    //로그인 성공 시 콘솔 노출
                    console.log(authObj);
                    window.Kakao.API.request({
                        url:'/v2/user/me',
                        success: res=>{
                            const kakao_account = res.kakao_account;
                            console.log(kakao_account);
                        }
                    });
                    
                    //홈화면 리다이렉트
                    window.location.href='/';
                }
            })
        }
    </script>
</body>
</html>